[*.cs]


###############################
# C# Coding Conventions       #
###############################


# Code-block preferences
csharp_style_namespace_declarations = block_scoped:suggestion # https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/formatting-rules#csharp_style_namespace_declarations

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false


###############################
# Hide dotnet messages        #
###############################


# Remove unused parameter (IDE0060) - https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0060
dotnet_diagnostic.IDE0060.severity = none

# CA1041: Provide ObsoleteAttribute message - https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1041
dotnet_diagnostic.CA1041.severity = none

# Remove unused private member (IDE0051) - https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0051
dotnet_diagnostic.IDE0051.severity = none

# CA1822: Mark members as static - https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1822
dotnet_diagnostic.CA1822.severity = none

# Add readonly modifier (IDE0044) - https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0044
dotnet_diagnostic.IDE0044.severity = none
